.account-detail-card {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
}

.detail {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
